/* message design */
.message-container {
  justify-self: start;
  display: grid;
  line-height: 1.3;
}
.message-container .say-thanks > .no-show {
  display: none;
}
.message-container .say-thanks {
  display: grid;
  align-items: center;
}
.message-container .say-thanks > div {
  display: none;
  align-items: center;
  width: fit-content;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  margin: 0 20px;
  padding: 5px;
  font-size: 14px;
  color: var(--tree-green);
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.message-container .say-thanks p {
  padding-left: 7px;
  padding-bottom: 3px;
}
.message-container .user-img {
  width: 54px;
  height: 54px;
}
.message-container .user-name {
  font-size: 0.7rem;
  color: var(--warm-grey);
}
.message-container .message {
  position: relative;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background: #eeeeee;
  white-space: pre-wrap;
}
.message-container .message a {
  text-decoration: underline;
}
.message-container .message-response {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  padding-top: 0.3rem;
  cursor: pointer;
}
.message-container .message-response p {
  margin-left: 0.3rem;
  color: #1e3a4e;
  text-decoration: underline;
  font-size: 14px;
}

/* message design when sent by user */
.me {
  justify-self: end;
}
.me .say-thanks {
  justify-items: right;
}
.me .message {
  color: #116f2f;
  background-color: #f2fcf2;
}

#messages .timestamp {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 13px;
  color: var(--warm-grey);
}
#messages .message-container {
  padding-bottom: 1.5rem;
  grid-template-columns: 54px max-content 250px;
  grid-template-rows: 29px 29px auto auto;
  grid-column-gap: 17px;
  max-width: 45rem;
}
#messages .message-container .user-img {
  grid-column: 1/2;
  grid-row: 1/3;
}
#messages .message-container .timestamp {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
  text-align: center;
}
#messages .message-container .user-name {
  grid-column: 2/3;
  grid-row: 1/2;
}
#messages .message-container .say-thanks {
  grid-column: 3/4;
  grid-row: 2/4;
}
#messages .me {
  grid-template-rows: 29px 29px auto auto;
  grid-template-columns: 250px max-content 54px;
  grid-column-gap: 17px;
  max-width: 45rem;
}
#messages .me .user-img {
  grid-column: 3/4;
  grid-row: 1/3;
}
#messages .me .timestamp {
  grid-column: 3/4;
  grid-row: 3/4;
}
#messages .me .user-name {
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1/2;
}
#messages .me .say-thanks {
  grid-column: 1/2;
  grid-row: 1/5;
}
#messages .message {
  align-self: start;
  grid-column: 2/3;
  grid-row: 2/4;
}
#messages .qs-details {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#messages .qs-details > p {
  margin-right: 20px;
}

#thread-messages .timestamp,
#thread-messages .user-name {
  font-size: 14px;
  color: var(--warm-grey);
}
#thread-messages .message-container.thread-header .message {
  background: none;
  padding-left: 0;
  padding-right: 0;
}
#thread-messages .message-container {
  position: relative;
  margin-bottom: 1rem;
  grid-template-columns: 50px auto;
  grid-template-rows: 25px 25px auto;
}
#thread-messages .message-container .user-img {
  grid-column: 1/2;
  grid-row: 1/3;
}
#thread-messages .message-container .user-name {
  grid-column: 2/3;
  grid-row: 1/2;
}
#thread-messages .message-container .timestamp {
  grid-column: 2/3;
  grid-row: 2/3;
}
#thread-messages .message-container .user-name,
#thread-messages .message-container .timestamp {
  margin-left: 11px;
}
#thread-messages .me {
  grid-template-columns: auto 54px;
  grid-template-rows: 25px 25px auto;
}
#thread-messages .me .user-img {
  grid-column: 2/3;
  grid-row: 1/3;
}
#thread-messages .me .user-name {
  grid-column: 1/2;
  grid-row: 1/2;
}
#thread-messages .me .timestamp {
  grid-column: 1/2;
  grid-row: 2/3;
}
#thread-messages .me .user-name,
#thread-messages .me .timestamp {
  justify-self: end;
  margin-right: 11px;
}
#thread-messages .message {
  margin-top: 11px;
  grid-column: 1/3;
  grid-row: 3/4;
  max-width: 300px;
}
#thread-messages .say-thanks {
  position: absolute;
  bottom: -15px;
  right: 30px;
}
#thread-messages .say-thanks > div {
  margin: 0;
}

.question .message {
  background: var(--tree-green);
  color: white;
}

.bottom-right-badge {
  position: absolute;
  bottom: -18px;
  right: -18px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  border: solid 1px #e3e3e3;
  border-radius: 5px;
  background-color: white;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
.bottom-right-badge .logo-svg {
  height: 15px;
}

/*# sourceMappingURL=message_container.css.map */
