.top-menu, .footer {
  min-width: 1100px;
}

.grid {
  display: grid;
  grid-template-columns: auto 3fr;
  grid-column-gap: 4.86vw;
  background: #fbfbfb;
}

.home {
  padding-top: 40px;
  // padding-bottom: 120px;
}

.left {
  min-width: 300px;
  max-width: 320px;
  .profile {
    position: relative;
    padding-top: 30px;
    grid-template-rows: 140px 30px 30px 70px;
    font-size: 0.9rem;

    .settings {
      position: absolute;
      top: 17px;
      right: 17px;
      color: #888888;
    }

    .user-img {
      width: 110px;
      height: 110px;
      font-size: 2rem;
      display: grid;
      align-items: center;
      justify-items: center;
      border-radius: 50%;
      background: var(--tree-green);
      color: white;
    }

    .name {
      font-family: var(--brandon-bold);
    }

    .uni {
      color: #808080;
      text-align: center;
    }

    .rating {
      color: var(--tree-green);
      display: flex;
      font-size: 14px;
      align-items: center;

      .logo-svg {
        margin-right: 5px;
      }
    }
  }

  .shortcuts {
    margin-top: 20px;
    padding: 10px 0;
    justify-items: left;
    font-size: 18px;

    & > * {
      color: #808080;
      text-align: left;
      padding: 15px;
      padding-left: 26px;

      .line-icon {
        color: #808080;
        padding-right: 15px;
      }
    }
    .active {
      font-family: var(--brandon-med);
      color: var(--tree-green);
      .line-icon {
        color: var(--tree-green);
      }
    }
  }
}


// just for courses
#courses {
  margin-top: 20px;

  .course-wrapper {
    display: grid;
    grid-template-rows: auto 4px auto;
    border: 0.01rem solid white;
    box-shadow: 0 0.1rem 0.2rem var(--course-color);
    background: white;
    min-width: 320px;

    .course {
      border: 0px;
      box-shadow: none;
      padding: 25px 33px;

      div {
        font-size: 0.9rem;
      }
    }

    .divider {
      border-top: 0.05rem solid #f0f0f0;
      align-self: center;
    }

    .currently {
      color: gray;
      padding: 25px;
      padding-top: 15px;
    }

    .online {
      position: relative;

      .btn {
        float: right;
        z-index: 99;
        position: relative;
        font-family: var(--brandon-reg);
      }

      div {
        img {
          border-radius: 100%;
          // margin-left: -8%;
          position: absolute;
          border: 2px white solid;
        }
        
        $maxImagesNumber: 5;
        @for $i from $maxImagesNumber through 1 {
          :nth-child(#{ $i }) {
            z-index: #{$maxImagesNumber - ($i - 1)};
            left: #{($i - 1) * 40}px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  #courses {
    grid-template-columns: 1fr;
  }
  .top-menu, .footer{
    min-width: 0px;
  }
}
