{% load staticfiles%}
<h3 class="section-header">Your Courses</h3>
<div id="courses">
    {% for room in rooms %}
    <div class="course-wrapper">
        <div class="course">
            <p class="course-num">{{room.room_name}}</p>
            <div class="line-icon star"></div>
            <p class="course-name">{{room.description}}</p>
            <div class="line-icon hat"></div>
            <div class="course-info university">University of Michigan</div>
            <div class="line-icon medal"></div>
            <div class="course-info specialist">2 specialists</div>
        </div>
        <div class="divider"></div>
        <div class="currently">
            <p>Currently online:</p>
            <br>
            <div class="online">
                <div>
                    <img src="/static/images/logged-in(1).png">
                    <img src="/static/images/logged-in(2).png">
                    <img src="/static/images/logged-in(3).png">
                    <img src="/static/images/logged-in(4).png">
                </div>
                <a class="btn btn-green" href="/chats/{{room.room_name_slug}}">Go to Chat</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>