.section-header {
    margin-top: 40px
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;

    .course-wrapper {
        display: grid;
        // grid-template-rows: auto 1rem 3.5rem;
        border: 0.01rem solid white;
        border-radius: 0.2rem;
        box-shadow: 0 0.1rem 0.2rem var(--course-color);
        background: white;

        .course {
            padding: 0.8rem;
            border: 0px;
            box-shadow: none;

            //   padding: 0px;
            p {
                font-size: 1rem;
            }

            div {
                font-size: 0.7rem;
            }
        }

        .divider {
            border-top: 0.05rem solid #F0F0F0;
            align-self: center;
        }

        .currently {
            padding: 0.8rem;
            color: gray;
        }

        .online {
            img {
                width: 2rem;
            }

            .btn {
                float: right;
            }
        }
    }


    .course {
        display: grid;
        grid-template-columns: 1.4rem 1fr 1rem;
        grid-template-rows: auto 2.5fr 1fr 1fr;
        grid-row-gap: 0.1rem;
        grid-template-areas: "course-num course-num star""course-name course-name course-name""hat university university""medal specialist specialist";
        padding: 1.3rem;
        background: white;
        border: 0.01rem solid white;
        border-radius: 0.2rem;
        box-shadow: 0 0.1rem 0.2rem var(--course-color);

        p {
            color: black;
            font-family: var(--brandon-bold);
            font-weight: 900;
            font-size: 1.2rem;
        }

        .course-name {
            padding-bottom: 1rem;
        }

        .course-info,
        .line-icon {
            color: rgba(128, 128, 128, 1.0);
            font-size: 0.8rem;
        }

        .course-num {
            grid-area: course-num;
            padding-bottom: 0.5rem;
        }

        .star {
            grid-area: star;
            justify-self: end;
        }

        p.course-name {
            grid-area: course-name;
            font-size: 0.7rem;
        }

        .hat {
            grid-area: hat;
        }

        .university {
            grid-area: university;
        }

        .medal {
            grid-area: medal;
            align-self: center;
        }

        .specialist {
            grid-area: specialist;
            align-self: center;
        }

    }

    .course-wrapper {
        &:hover {
            border: 0.01rem solid var(--course-color);
            box-shadow: 0 0.25rem 0.5rem var(--course-color);
            text-decoration: none;
            font-weight: 100;

            p {
                color: var(--tree-green);
            }
        }
    }
}

.browse {
    background: rgba(255, 255, 255, 0.0);
    text-align: center;

    font: {
        family: var(--brandon-bold);
        size: 0.9rem;
    }

    a {
        color: var(--tree-green);
        text-decoration: none;
    }
}

@media only screen and (max-width: 768px) {
    #courses {
        grid-template-columns: 1fr 1fr;
    }

}