<!DOCTYPE HTML>
<head>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

	<div id="triangle-right">
	</div>

	<div id="triangle-down">
	</div>

	<div>
		<img src="peerstachio_logo.jpg" class="logo">
		</img>

		<ul class="menu">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Pricing</a></li>
			<li><a href="">Contact</a></li>
		</ul>

		<ul class="buttons">
			<li>
				<button class="login" type="submit" form="form1" value="Submit">LOG IN</button>
			</li>
			<li> 
				<button class="signup" type="submit" form="form1" value="Submit">SIGN UP</button>
			 </li>
		</ul>
	<div>

	<div id="gray">
		
		<div id="divtop">
			<h1> Log In </h1>
		<div>
		
		<div id="divbottom">
			<div id="loginbox">
				<form>
					<h3>Email Address</h3><br>
				  	<input id="forminput" type="text" name="email"><br>
				</form>
				<form>
					<h3>Password</h3><br>
				  	<input id="forminput" type="text" name="password"><br>
				</form>
				<div id="button2"><button class="signup" type="submit" form="email" form="password" value="Submit">LOG IN</button><div>
			</div>
		</div>
	</div>

<body>
</HTML>