<div class="chat media">
	<h3>{{ chat.name_html|safe }}</h3>
	<div class="media-body">
		<strong>{{ chat.user.username }}</strong>
		<h5 class="media-heading">
			<span class="username"><a href="{% url 'chats:for_user' username=chat.user.username %}">@{{ chat.user.username }}</a></span>
			<time class="time"><a href="{% url 'chats:single' username=chat.user.username pk=chat.pk %}">{{ chat.created_at }}</a></time>
			{% if chat.course %}
			<span class="course-name">in <a href="#">{{ chat.course.name }}</a></span>
			{% endif %}
		</h5>


	</div>
</div>
