/* message design */

.message-container {
  line-height: 1.3;

  .say-thanks>.no-show {
    display: none;
  }

  .say-thanks {
    float: left;

    &>div {
      display: none;
      // display: flex;
      position: relative;
      top: 45%;

      align-items: center;

      margin: 0 20px;
      padding: 5px;

      font-size: 14px;
      color: var(--tree-green);
      border: solid 1px #e3e3e3;
      border-radius: 5px;
      background-color: white;

      cursor: pointer;
      -webkit-user-select: none;
      /* Safari */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* IE10+/Edge */
      user-select: none;
      /* Standard */
    }

    p {
      padding-left: 7px;
      padding-bottom: 3px;
    }
  }

  .user-img {
    width: 54px;
    height: 54px;
  }

  .user-name {
    font-size: 0.7rem;
    color: var(--warm-grey);
    margin-bottom: 5px;
  }

  .message-text {
    position: relative;
    padding: 0.8rem;
    border-radius: 0.3rem;
    background: #eeeeee;
    white-space: pre-wrap;

    a {
      text-decoration: underline;
    }
  }

  .qs-details {
    display: flex;
    margin-top: 5px;
    font-size: 14px;

    .message-response {
      justify-self: end;
      display: flex;
      align-items: center;
      font-size: 0.6rem;
      margin-left: 10px;
      cursor: pointer;

      p {
        margin-left: 0.3rem;
        color: #1e3a4e;
        text-decoration: underline;
      }
    }
  }
}

.message-container:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* message design when sent by user */

.me {
  .say-thanks {
    justify-items: right;
  }

  .message-text {
    color: #116f2f;
    background-color: #f2fcf2;
  }
}

#messages {

  .message-container {
    margin: 20px 0px;
    position: relative;

    .user-img {
      position: absolute;
      top: 5px;
    }

    .timestamp {
      position: absolute;
      top: 70px;
      width: 54px;
      text-align: center;
      font-size: 13px;
      color: var(--warm-grey);
    }

    .user-name {
      margin-left: 69px;
    }

    .message {
      margin-left: 69px;
      max-width: 55%;
      position: relative;
      float: left;
    }

    .message-text {
      clear: left;
      // float: left;
      word-wrap: break-word;
    }

    .thanks-wrapper {
      float: left;
    }

    .say-thanks {
      position: absolute;
      display: flex;
      top: 45%;
    }
  }

  .me {
    .user-img {
      right: 0px;
    }

    .timestamp {
      right: 0px;
    }

    .user-name {
      margin-right: 69px;
      text-align: right;
    }

    .message {
      margin-right: 69px;
      float: right;
    }

    .message-text {
      clear: right;
    }

    .thanks-wrapper {
      float: right;
    }
  }

}

#thread-messages {

  .timestamp,
  .user-name {
    font-size: 14px;
    color: #bbbaba;
  }

  .user-name {
    color: var(--warm-grey);
  }

  .message-container.thread-header {
    .message-text {
      background: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .message-container {
    position: relative;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 25px 25px auto;

    .user-img {
      grid-column: 1/2;
      grid-row: 1/3;
    }

    .user-name {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .timestamp {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .user-name,
    .timestamp {
      margin-left: 11px;
    }
  }

  .me {
    grid-template-columns: auto 54px;
    grid-template-rows: 25px 25px auto;

    .user-img {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    .user-name {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .timestamp {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .user-name,
    .timestamp {
      justify-self: end;
      margin-right: 11px;
    }
  }

  .message {
    margin-top: 11px;
    grid-column: 1/3;
    grid-row: 3/4;
    max-width: 300px;
  }

  .say-thanks {
    &>div {
      margin: 0;
    }

    position: absolute;
    bottom: -15px;
    right: 30px;
  }
}

.question .message-text {
  background: var(--tree-green);
  color: white;
}


.bottom-right-badge {
  position: absolute;
  bottom: -18px;
  right: -18px;
  padding: 5px 8px;


  display: flex;
  align-items: center;

  border: solid 1px #e3e3e3;
  border-radius: 5px;
  background-color: white;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

  .logo-svg {
    height: 15px;
  }

}