aioredis==1.2.0
argon2==0.1.10
argon2-cffi==16.3.0
asgiref==2.3.2
async-timeout==2.0.1
attrs==18.1.0
autobahn==18.4.1
Automat==0.6.0
boto3==1.9.86
botocore==1.12.86
build==1.0.2
cachetools==3.1.0
certifi==2017.11.5
cffi==1.11.5
channels==2.1.1
channels-redis==2.3.2
chardet==3.0.4
configparser==3.5.0
constantly==15.1.0
daphne==2.1.1
decorator==4.1.2
dj-database-url==0.4.2
django==2.0.12
django-bootstrap3==9.1.0
django-braces==1.12.0
docutils==0.14
ez-setup==0.9
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
hiredis==0.3.0
httplib2==0.10.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython-genutils==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.3.0
misaka==2.1.0
mrjob==0.6.0
msgpack==0.5.6
msgpack-python==0.5.6
nbformat==4.4.0
numpy==1.13.1
oauth==1.0.1
oauth2client==4.1.2
olefile==0.44
petl==1.1.1
Pillow==8.1.1
plotly==2.0.15
psycopg2==2.7.4
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
PyJWT==1.5.3
PyMySQL==0.8.0
PySocks==1.6.7
python-dateutil==2.6.1
python-dotenv==0.8.2
pytz==2018.4
pyyaml==4.2b1
rauth==0.7.3
redis==2.10.6
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
spotipy==2.4.4
text-unidecode==1.2
traitlets==4.3.2
twilio==6.8.3
Twisted==18.4.0
txaio==2.10.0
uritemplate==3.0.0
urllib3==1.23
websocket-client==0.47.0
whitenoise==3.3.1
zope.interface==4.6.0
gunicorn==19.8.1
psycopg2-binary==2.7.5
redis==2.10.6
